/* Give your page a fun background color */
* {
    margin: 0;
}
body {
    background-color:rgb(37, 144, 108);
}

/* Make the header and footer a different color from the background */

header {
    
    width: 100%;
    background-color: rgb(159, 75, 215);
    margin-bottom: 10px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: rgb(159, 75, 215);
}

/* Align the h1 containing your name in the center of the header*/

h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */

p.q{
    font-style: italic;
}

/* Put a border around your image */

img {
    border-style: double;
    margin: 5px;
}

/* Change the font-family of your list */

li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}